@charset 'UTF-8';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


// Bootstrap & Variables
@import "../../../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "variables-custom";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

.max-w-95 {
    .modal-dialog {
        max-width: 95vw !important;
        width: 100%;
    }
}

.h-full {
    min-height: 57vh;
}

$breakpoints: xs, sm, md, lg, xl;

.max-width-100 {
    max-width: 100vw;
}
@each $breakpoint in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
        .max-width-#{$breakpoint}-100 {
            max-width: 100vw;
        }
    }
}

.text-eyebrow-2 {
    font-size: 1.25rem !important;
}

$opacityLevels: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $level in $opacityLevels {
    .opacity-#{$level} {
        opacity: $level/100;
    }
}

.seperator-top {
    border-top: 1px $secondary solid;
}

.seperator-bottom {
    border-bottom: 1px $secondary solid;
}
// Components
@import "layout/_layout";
@import "components/_components";

body {
    background-color: $dark;
    color: $white;
}

.text-gradient-primary, .text-gradient-primary h1{
    background: radial-gradient(#ffffff, $purple, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-yellow, .text-gradient-yellow h1{
    background: radial-gradient(#ffffff, $yellow, $yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-cyan, .text-gradient-cyan h1{
    background: radial-gradient(#ffffff, $cyan, $cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}